<div class="card product-single">
    <div *ngIf="product.coverImage">
        <div class="tag" *ngIf="product.productStatus != ''" >
            {{product.productStatus}}
        </div>        
        <a routerLink="/product/{{product.id}}">
            <img class="card-img-top embed-responsive-item" src="{{product.coverImage.mediumLink}}" alt="">
        </a>
    </div>
    <div class="card-body">
        <div class="product-card-brief pb-0">
            <h4>{{product.name}}</h4>
        </div>
    </div>
    <div class="footer-card card-footer">
        <div class="container">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <h6>{{product.price | currency}}</h6>
            </div>
        </div> 
    </div>
</div>
