<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-color">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
      aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav ml-auto mt-1 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">My Craps</a>
        </li>
        <li class="nav-item" *ngIf="auth.isAuthenticated()">
          <a class="nav-link" routerLink="/dashboard">Dashboard</a>
        </li>        
        <li class="nav-item" *ngIf="!auth.isAuthenticated()">
          <!-- <a (click)="auth.login()"> -->
            <a class="nav-link" (click)="auth.login()">Login</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-body">

    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>