<div class="container">
    <div class="container">
        <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">
            {{ successMessage }}
        </ngb-alert>
        <div class="row col-lg-4 pt-3" fxLayout="row" fxLayoutAlign="space-between center">
            <button mat-raised-button class="btn btn-dark" (click)="save()">Save</button>
            <button mat-raised-button class="btn btn-light" (click)="goBack()">Go back</button>
            <button mat-raised-button class="btn btn-light" (click)="delete()">Delete</button>
        </div>
    </div>

    <div class="pt-3">
        <form *ngIf="product">
            <div class="form-group">
                <div class="col-lg-6">
                    <label for="category">Status</label>
                    <select class="form-control" id="status" [(ngModel)]="product.productStatus" name="productStatus">
                        <option *ngFor="let status of statuses" [value]="status">
                            {{status}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="title">Name</label>
                <input type="text" class="form-control" id="title" placeholder="Name" [(ngModel)]="product.name" name="name">
            </div>
            <div class="form-group">
                <label for="title">Price</label>
                <input type="number" class="form-control" id="price" placeholder="Price" [(ngModel)]="product.price" name="price">
            </div>            
            <div class="form-group">
                <label for="content">Description</label>
                <textarea class="form-control" id="brief" rows="3" [(ngModel)]="product.description" name="description"></textarea>
            </div>
            <div class="pt-3">
                <div class="form-group">
                    <button mat-raised-button class="btn btn-dark" (click)="uploadPrimary()">
                        <i class="fas fa-file-upload"></i>
                        Cover Image
                    </button>
                    <button mat-raised-button class="btn btn-light" (click)="uploadAdditional()">
                        <i class="fas fa-file-upload"></i>
                        Additional Images
                    </button>
                    <div>
                        <ul>
                            <li *ngFor="let file of files">
                                <ngb-progressbar type="dark" textType="white" [value]="file.progress" showValue="true"
                                    ng-show="file.inProgress"></ngb-progressbar>
                                <span id="file-label">
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="pt-1">
                        <div class="container">
                            <label for="coverImage">Cover Image</label>
                            <div class="row">
                                <div>
                                    <img class="coverImage" *ngIf="product.coverImage" src="{{product.coverImage.mediumLink}}"
                                        alt="">
                                </div>
                                <div class="col-sm">
                                    {{product.coverImage.link}}
                                </div>
                            </div>
                        </div>
                        <div class="container pt-1">
                            <label for="productImages">Additional Images</label>
                            <div class="row" *ngFor="let image of product.images">
                                <div class="col-sm">
                                    <img src="{{image.mediumLink}}" alt="">
                                </div>
                                <div class="col-sm">
                                    {{image.link}}
                                </div>
                                <div class="col-sm">
                                    <button mat-button color="warn" (click)="deleteImage(image)">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple"
                        accept="image/*" style="display:none;" />
                </div>
            </div>
        </form>
    </div>
</div>