<div class="container">
    <div *ngIf="product">
        <div class="container">
            <div class="col-6 pt-3">
                <h2>
                    {{product.name}}
                </h2>
                <h3>{{product.price | currency}}</h3>
                <h3>{{product.description}}</h3>
            </div>
        </div>
        <div *ngIf="emailResponse">
            <ngb-alert [type]="emailResponseAlertType" [dismissible]="false">{{ emailResponse }}</ngb-alert>
        </div>
        <form class="pt-3">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <input type="text" class="form-control" placeholder="Your Name" [(ngModel)]="emailDetail.from"
                        name="from">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" placeholder="Your Phone Number"
                        [(ngModel)]="emailDetail.phoneNumber" name="phoneNumber"/>
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" placeholder="Your Email" [(ngModel)]="emailDetail.email"
                        name="email">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="pickup-date">Pickup Date and Time</label>
                </div>
                <div class="form-group col-md-6">
                    <input id="pickup-date" type="datetime-local" [ngModel]="product.pickupDate | date:'yyyy-MM-ddTHH:mm'" 
                    (ngModelChange)="emailDetail.pickupDate = $event" name="pickupDate" />  
                </div>
            </div>
            <div class="form-group">
                <textarea class="form-control" [(ngModel)]="emailDetail.message" name="message" placeholder="Message"
                    rows="3"></textarea>
            </div>
            <button mat-raised-button class="btn btn-dark" (click)="sendEmail()">Send</button>
        </form>
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4 pt-3" *ngFor="let image of images; let i=index">
                    <img [src]="image.thumb" (click)="open(i)" />
                </div>
            </div>
    </div>
</div>