
.blog_brief {
    /* color: #909092 !important; */
    color: #525252 !important;
    margin-bottom: 30px;
  }
  
  
  /* Start Blog Area css
  ============================================================================================ */
  
  .blog_area a {
    /* color: #909092 !important; */
    color: #525252 !important;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; 
  }
  
  .blog_area a:hover, .blog_area a :hover {
      background: -webkit-linear-gradient(131deg, #dca73a 0%, #dca73a 99%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-decoration: none;
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s; 
  }
  
  /*============ blog_left_sidebar css ==============*/
  .blog_item {
    margin-bottom: 50px; 
  }
  
  .blog_details {
    padding: 30px 0 20px 10px;
    box-shadow: 0px 10px 20px 0px rgba(221, 221, 221, 0.3); 
  }
    @media (min-width: 768px) {
      .blog_details {
        padding: 60px 30px 35px 35px; } 
      }
    .blog_details p {
      margin-bottom: 30px; 
    }
    .blog_details a {
      color: #ff8b23; 
    }
      .blog_details a:hover {
        color: #dca73a; 
      }
    .blog_details h2 {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 8px; 
    }
      @media (min-width: 768px) {
        .blog_details h2 {
          font-size: 24px;
          margin-bottom: 15px; } 
        }
  
  
  .blog_item_img {
    position: relative; }
    .blog_item_img .blog_item_date {
      position: absolute;
      bottom: -10px;
      left: 10px;
      display: block;
      color: #fff;
      background-color: #dca73a;
      padding: 8px 15px;
      border-radius: 5px; }
      @media (min-width: 768px) {
        .blog_item_img .blog_item_date {
          bottom: -20px;
          left: 40px;
          padding: 13px 30px; } }
      .blog_item_img .blog_item_date h3 {
        font-size: 22px;
        font-weight: 600;
        color: #fff;
        margin-bottom: 0;
        line-height: 1.2; }
        @media (min-width: 768px) {
          .blog_item_img .blog_item_date h3 {
            font-size: 30px; } }
      .blog_item_img .blog_item_date p {
        font-size: 18px;
        margin-bottom: 0;
        color: #fff; }
        @media (min-width: 768px) {
          .blog_item_img .blog_item_date p {
            font-size: 18px; } }
  
  
  
  .blog-info-link {
    font-size: 13px;
  }
  
  
  ngb-pagination ::ng-deep ul > li:not(.active) > a {
    background-color: #eeeeee !important;
    border: none !important;
    
  }
  
  ngb-pagination ::ng-deep ul > li.active > a {
    background-color: #dfa974 !important;
    border: none !important;
  }